.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: inter-font;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f0f4ef;
}

body {
    background-color: #f0f4ef;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0d1821;
    color: #f0f4ef;
    padding: 2rem 1rem;
}

main {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.header-left i {
    margin-left: 5em;
}

.web-name {
    margin-left: 1rem;
    font-size: 1.25rem;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links li {
    margin-right: 5em;
    font-size: 1.25rem;

}

.links li button {
    font-size: 1.25rem;
    color: #f0f4ef;
    background-color: #344966;
    border: none;
    padding: .5rem;
    border-radius: 10px;
}

.hamburger-button {
    display: none;
    background-color: transparent;
    border: transparent;
}

.hamburger-con {
    display: none;
}

.hamburger-option {
    display: none;
}

footer {
    display: flex;
    margin-top: 3rem;
    padding: 2rem 1rem;
    background-color: #0d1821;
    color: #f0f4ef;
    align-items: center;
    justify-content: center;
}

.contact-info {
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
}

.number {
    margin-right: 1.25rem;
}

.copyright {
    margin-right: 1.25rem;
}

.items {
    transition: all .2s ease-in-out;
}

.items:hover {

    transform: scale(1.25);
}

h1 {
    margin-top: 5rem;
    font-size: 4.5rem;
}

.info {
    margin-top: 3rem;
    font-size: 1.5rem;    
    align-items: center;
    text-align: center;
    justify-content: center;
}

.species {
    display: flex;
    flex-direction: row;

}

.species p {
    margin-right: 1rem;
}

.sex {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

}

.sex p {
    margin-right: 1rem;
}

.distance {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

}

.distance p {
    margin-right: 1rem;
}

.zip {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

}

.zip p {
    margin-right: 1rem;
}

.found {
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

.row1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.row2 {
    display: flex;
    flex-direction: row;
}

img {
    width: 20rem;
    height: 20rem;
    margin-right: 5rem;
    margin-left: 5rem;
}


.search-button {
    font-size: 2rem;
    color: #f0f4ef;
    background-color: #344966;
    border: none;
    padding: .5rem;
    border-radius: 10px;
    margin-top: 1.5rem;
    transition: all .2s ease-in-out;
}

.search-button:hover {
    transform: scale(1.15);
}

.result-con {
    display: flex;
    flex-direction: column;
}



@media (max-width: 430px){

    img {
        width: 9rem;
        height: 10rem;
        margin-right: 0;
        margin-left: 0;
    }

    .result4 {
        display: none;
    }

    .result8 {
        display: none;
    }

    .contact-info {
        font-size: .57rem;
        flex-direction: row;
        text-align: center;
    }

    .links {
        display: none;
    }

    .hamburger-button {
        display: block;
        color: #f0f4ef;
        margin-left: none;
        margin-right: 2rem;
        font-size: 1.25rem;
    }

    main {
        position: relative;
        
        
    }
 
    .hamburger-con {
        display: none;
        position: absolute;   
        z-index: 1;
        background-color: #344966;
        width: 50%;
        height: 60%;
        flex-direction: column;
        left: 50%;
        top: 0;
        border-radius: 10px;
    
    }

    .hamburger-option {
        display: flex;
        font-size: 1.75rem;
        margin-left: .5rem;
   
    }

    .hamburger-option a {
        margin-bottom: 15px;
    }

    .hamburger-button {
        font-size: 25px;
    }

    .header-left i {
        margin-left: 2em;
    }
    
    .web-name {
        margin-left: 1rem;
        font-size: 1.25rem;
    }

    .exit {
        display: flex;
        justify-content: right;
        margin-bottom: 2rem;
    }
    
    .exit button {
        color: #f0f4ef;
        background: none;
        border: none;
        font-size: 2rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .hamburger-option button {
        font-size: 1.25rem;
        color: #f0f4ef;
        background-color: #0d1821;
        border: none;
        padding: .5rem;
        border-radius: 10px;
    }

}